@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Unbounded';
    font-style: bold;
    font-weight: 600;
    src:
      url(/fonts/unbounded/Unbounded-Bold.woff2) format('woff2'),
      url(/fonts/unbounded/Unbounded-Bold.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Unbounded';
    font-style: medium;
    font-weight: 500;
    src:
      url(/fonts/unbounded/Unbounded-Medium.woff2) format('woff2'),
      url(/fonts/unbounded/Unbounded-Medium.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: light;
    font-weight: 300;
    src:
      url(/fonts/roboto/Roboto-Light.woff2) format('woff2'),
      url(/fonts/roboto/Roboto-Light.woff) format('woff'),
      url(/fonts/roboto/Roboto-Light.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
      url(/fonts/roboto/Roboto-Regular.woff2) format('woff2'),
      url(/fonts/roboto/Roboto-Regular.woff) format('woff'),
      url(/fonts/roboto/Roboto-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 500;
    src:
      url(/fonts/roboto/Roboto-Medium.woff2) format('woff2'),
      url(/fonts/roboto/Roboto-Medium.woff) format('woff'),
      url(/fonts/roboto/Roboto-Medium.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    src:
      url(/fonts/roboto/Roboto-Bold.woff2) format('woff2'),
      url(/fonts/roboto/Roboto-Bold.woff) format('woff'),
      url(/fonts/roboto/Roboto-Bold.ttf) format('ttf');
  }

  html {
    font-family: 'Roboto', system-ui, sans-serif;
    background-color: #f8f4f3;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h4 {
    @apply text-[16px] md:text-[26px]  xl:text-[36px] leading-none font-roboto font-bold;
  }
  h6 {
    @apply text-sm lg:text-[18px] 2xl:text-[20px] font-roboto font-medium;
  }
  p {
    @apply text-sm lg:text-base 2xl:text-[20px] font-roboto font-light;
  }

  li,
  ul {
    list-style: none;
    list-style-type: none;
  }

  body {
    @apply bg-white;
  }

  input,
  select {
    width: 100%;
    padding: 13px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    outline: none;
    border: 2px solid #923ea1;
    border-radius: 8px;
    background-color: #f8f4f3;
  }
  input::placeholder,
  select::placeholder {
    color: #242424;
  }
  input[type='checkbox'] {
    accent-color: #923ea1;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/media/arrow-form-select.svg') 96% / 3% no-repeat;
  }
  select::-ms-expand {
    display: none; /* удалите стрелку по умолчанию в IE 10 и 11 */
  }
  option {
    background-color: #923ea1;
    color: #f8f4f3;
  }
  option:hover {
    background-color: #eec5f5;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1512px] mx-auto container px-6 sm:px-8 xl:px-14 2xl:px-20;
  }
  .heading {
    @apply text-[16px] md:text-3xl xl:text-5xl font-bold font-unbounded uppercase tracking-tighter leading-none;
  }
  .transition-hover {
    @apply transition duration-150 ease-out hover:ease-in;
  }
  .button-main {
    @apply px-3 py-[14px] sm:px-6 sm:py-4 flex justify-center items-center rounded-full bg-purple text-white text-sm sm:text-lg xl:text-xl font-medium uppercase hover:bg-black transition-hover;
  }
  .bg-mandala {
    @apply bg-[url('/media/Yoga/bg-mandala-m.png')] bg-no-repeat bg-150% lg:bg-45% sm:bg-[url('/media/Yoga/bg-mandala.png')];
  }
}

.drop-faq {
  transition: max-height 1s;
  max-height: 3000px;
}
.drop-faq-close {
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  max-height: 0px;
}

/* Слайдер */
.carousel__item {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: center;
}

.carousel__icon {
  width: 26px;
  height: 26px;
}

.carousel__pagination {
  position: relative;
  background-color: #f8f4f3;
  border-radius: 16px;
  z-index: 100;
}

.__ymap canvas {
  border-radius: 20px;
}

@media (min-width: 768px) {
  input,
  select {
    padding: 16px;
  }
  .carousel__item {
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .carousel__pagination {
    position: relative;
    background-color: #923ea1;
    border-radius: 16px;
    z-index: 100;
  }
}
